@media screen and (max-width: 461px){
    .calculator__bg {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
    .calculator__form__screen {
        width: 100%;
        right: 0;
    }
    .calculator__form__screen div {
        margin: 5px;
    }
    #inputField {
        margin-bottom: 20px;
    }
    .calculator__form__screen__nums  {
        gap: 5px;
        padding: 0 40px;
    }
    .calculator__form__screen__input__field  {
        padding: 5px 40px;
    }
    .calculator__form__screen__nums button {
        flex: 1 0 61px;
        font-size: 22px;
    }
    .calculator__form__screen__input__field__history div {
        padding: 0 40px;
    }
    
}
@media screen and (max-width: 425px) {
    .calculator__form__screen {
        top: 60px;
    }
    .calculator__form__screen__nums  {
        padding: 0 26px;
    }
    #fieldEqual {
        flex-grow: 6;
    }
}
@media screen and (max-width: 387px) {
    .calculator__form__screen div {
        margin: 0;
    }
    .calculator__form__screen__input__field input {
        padding: 10px;
        font-size: 20px;
    }
    #inputField {
        font-size: 36px;
    }
    .calculator__form__screen__nums {
        gap: 7px;
    }
    .calculator__form__screen__nums input{
        margin: 5px 0px;
    }
    .calculator__form__screen__nums button {
        flex: 1 0 55px;
        font-size: 18px !important;
    }
    
}

@media screen and (max-width: 375px) {
    .calculator__form__screen__nums button {
        flex: 1 0 52px;
    }
}

@media screen and (max-width: 367px) {
    .calculator__form__screen__nums {
        gap: 5px;
    }
    #inputField {
        font-size: 22px;
    }
} 
@media screen and (max-width: 348px) {
    .calculator__form__header__cap span img {
        width: 100px;
    }
    .calculator__form__screen__nums input{
        margin: 0px;
    }
    .calculator__form__screen__nums button {
        font-size: 20px;
    }
    .calculator__form__screen__nums  {
        flex: 0 1 65px;
    }
}
@media screen and (max-width: 320px) {
    .calculator__form__screen__nums  {
        padding: 0 10px;;
    }
    .calculator__form__screen__nums button {
        flex: 1 0 48px;
        font-size: 14px !important;
    }
    .calculator__form__screen__input__field {
        padding: 5px 15px;
    }
    
}
@media screen and (max-width: 280px){
    .calculator__form__screen__nums {
        gap: 1; 
        padding: 0;
    }
    .calculator__form__screen__nums button {
        padding: 14px;
    }
    .calculator__form__header__time {
        font-size: 16px;
    }
    .calculator__form__header__status {
        font-size: 11px;
    }
}

@media screen and (max-width: 235px) {
    .calculator__form__header__cap span img {
        width: 75px;
    }
}